.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;
  min-height: 512px;
  height: 100%;
  width: 100%;
  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

label{
    display: flex;
}
html, body {
    height: 100%;
}

.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
}

.container#plotting_area {
    margin-left: 10px;
}

.selectors {
    height: 128px;
    min-height: 128px;
  border-right: solid;
}

.antennaselector {
    height: 80%;
    overflow-y: auto;
  border-right: solid;
}

.scrollable-list {
  height: 100%; /* Full height of the parent container */
  width: 100%;  /* Full width of the parent container */
  overflow-y: auto;  /* Scroll when content exceeds the visible area */
  display: block; /* Ensures it behaves like a block-level element */
  padding: 10px;
}

.option {
  padding: 2px;
  font-family: monospace;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.option.selected {
  background-color: #b0e0e6; /* Highlight selected option */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: left;
  max-height: 32px;
  vertical-align: middle;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
